body {
    background: #3AB37F;
}

h1,
h3 {
    font-family: 'Anton', sans-serif;
}

.container {
    text-align: center;
    padding-top: 50px;
}

hr {
    width: 1100px;
}

.quote-box {
    font-family: 'Indie Flower', cursive;
    font-size: 2.4em;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 9px 8px 5px 0px rgba(7, 142, 84, 0.73);
    -moz-box-shadow: 9px 8px 5px 0px rgba(7, 142, 84, 0.73);
    box-shadow: 9px 8px 5px 0px rgba(7, 142, 84, 0.73);
}
